@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content col px-5">
    <div class="content-header">
        <div class="div-h1">
            <span>Tables Page</span>
        </div>
    </div>
    <hr>
    <section class="top-section">
        <div class="top-section-header">
            <h1>Advanced Tables</h1>
            <hr>
        </div>
        <div class="top-section-content">
            <ul class="p-0">
                <li>
                    <select name="dropmenu" id="">
                        <option value="option">10</option>
                        <option value="option">25</option>
                    </select>
                    <span>records per page</span>
                </li>
                <li><input type="text" placeholder="Search"></li>
            </ul>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th colspan="6" style="height: 30px;">Users Table</th>
                        </tr>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Admin</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>aaaaaaaaaa</td>
                            <td>aaaaaaaaa</td>
                            <td>aaaaaaaa</td>
                            <td>aaaaaaa</td>
                            <td>aaaaaa</td>
                            <td class='last-col'>
                                <a href="">
                                    <i class='bx bx-edit btn-edit'></i>
                                </a>
                                <a href="">
                                    <i class='bx bx-trash btn-delete'></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="top-section-footer">
            <div class="top-section-footer-container">
                <ul>
                    <li>
                        Showing 1 to 25 of 57 entries
                    </li>
                    <li>
                        <button>Previous</button>
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button>Next</button>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="top-section">
        <hr>
        <div class="top-section-content">
            <ul class="p-0">
                <li>
                    <select name="dropmenu" id="">
                        <option value="number">10</option>
                        <option value="number">25</option>
                    </select>
                    <span>records per page</span>
                </li>
                <li><input type="text" placeholder="Search"></li>
            </ul>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th colspan="9" style="height: 30px;">Products Table</th>
                        </tr>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Current Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>aaaaaaaaaa</td>
                            <td>aaaaaaaaa</td>
                            <td>aaaaaaaa</td>
                            <td>aaaaaaa</td>
                            <td>aaaaaa</td>
                            <td class='last-col'>
                                <a href="">
                                    <i class='bx bx-edit btn-edit'></i>
                                </a>
                                <a href="">
                                    <i class='bx bx-trash btn-delete'></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="top-section-footer">
            <div class="top-section-footer-container">
                <ul>
                    <li>
                        Showing 1 to 25 of 57 entries
                    </li>
                    <li>
                        <button>Previous</button>
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button>Next</button>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</div>



